<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<font color="Black">
<center><h1><b>Welcome to text analyser ,Enter the text below!!!</b></h1>
<form action="analyse" method="get">
    <textarea name= "text" style="margin:0px; width: 1000px; height: 1" spellcheck="false">
    </textarea>
    <br>
    <br>
</center>
    <br><big>
    <input type="checkbox" name="removepunc">Remove Punctuars
    <br>
    <input type="checkbox" name="caps">Capitalize<br>
    <input type="checkbox" name="rnew">Remove new line<br>
    <input type="checkbox" name="exsp">Remove extra space<br>
    <input type="checkbox" name="charcount">count characters<br>
</big>
    <br>
    <big>
    <button type="submit">Analyse text</button><br>
    </big>
</form>
<br><a href="https://www.hackerrank.com/">Click here</a>
</body>
</html>
